// Base

//
// Light colors
//
$text-color: rgba(0, 0, 0, .84)
$accent-color: #FF0088
$box-bg-color: #f6f9fc
$blockquote-color: lighten($text-color, 10%)
$gray-color: lighten($blockquote-color, 13%)
$bg-color: white
$footer-bg-color: lighten(gray, 30%)
$footer-border-color: gray
$footer-text-color: darken(gray, 30%)

//
// Dark color
//
$text-color-dark: rgb(250, 250, 250)
$accent-color-dark: lighten($accent-color, 20%)
$box-bg-color-dark: #f6f9fc
$blockquote-color-dark: darken($text-color, 10%)
$gray-color-dark: #8e8e8e
$bg-color-dark: lighten(black, 10%)
$footer-border-color-dark: rgba(0, 0, 0, 0)
$footer-bg-color-dark: black
$footer-text-color-dark: rgb(250, 250, 250)

:global(#sapper)
  background-color: white

$colors: ( text-color: $text-color, accent-color: $accent-color, bg-color: $bg-color, gray-color: $gray-color, footer-bg-color: $footer-bg-color, footer-text-color: $footer-text-color, footer-border-color: $footer-border-color)

$colors-dark: (text-color: $text-color-dark, accent-color: $accent-color-dark, bg-color: $bg-color-dark, gray-color: $gray-color-dark, footer-bg-color: $footer-bg-color-dark, footer-text-color: $footer-text-color-dark, footer-border-color: $footer-border-color-dark)

@function theme($color)
  @return var(--color-#{$color})

:root
  @each $name, $color in $colors
    --color-#{$name} : #{$color}

:global(#sapper)
  background-color: theme('bg-color')


@media (prefers-color-scheme: dark)
  :root
    @each $name, $color in $colors-dark
      --color-#{$name} : #{$color}

  :global(#sapper)
    background-color: theme('bg-color')
