@import url("https://fonts.googleapis.com/css?family=Lato:400|Spectral:400,500");

html,
body {
  background-color: white;
  color: #333;
  margin: 0;
}

body {
  font-family: Spectral, serif;
}

#sapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


* {
   transition: 80ms all ease-in-out
  }
