---
import Nav from '../components/Nav.svelte';
---

<!doctype html>
<html lang="en" class="bg-sepia-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jeffrey Jose</title>

	<link rel='icon' type='image/png' href='favicon.png'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=block" rel="stylesheet">

    <link rel="stylesheet" href="/style/global.css">
</head>
<body class="h-screen">
    <Nav/>
</body>
</html>
